# ESA-SCOPE DOC model python requirements
numpy
xarray
dask
netcdf4
tables
pandas
scikit-learn==1.6.0
matplotlib
ipykernel
# Pytorch
torch==2.5.1
torchvision
torchaudio
pytorch_lightning==2.5.0.post0
tensorboard==2.18.0
